.book-hotel-tickets{
    padding-top: 85px;
    padding-bottom: 60px;
}
#firstnav .nav-link{
    font-size: 23px;
    margin: 0 20px 0px 15px;
  
}
#firstnav .nav-link{
    color:dodgerblue;
}
.form-label{
    font-size: 18px;
    font-family: verdana;
}
.hotel-name{
    font-size:20px;
    font-family:verdana;
}
.hotel-locality{
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hotel-address{
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.hotel-price{
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}