
<div class="class1">
    <!-- Jumbotron Header -->

    <header class="jumbotron" id="jumbotron1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm align-self-center" id="#">
                    <button type="button" class="btn btn-primary btn-lg" routerLink="/bookticket/flights">
                       Book Ticket
                    </button>   
                </div>
                
                <div class="col-12 col-sm-6">
                    <h1>Travel Around the World</h1>
                    <p>We take inspiration from the World's best travel websites, and create a unique fusion experience. We have some best deals for our customers!</p>
                </div>    
            </div>
        </div>
    </header>

    <br>


    <div class="container">
      <div class="row" style="padding-bottom: 30px;;">
        <div class="col-12 col-md-4">
          <div class="card">
             <img class="card-img" src="https://wallpaperaccess.com/full/488392.jpg" alt="Unplash">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <h4 class="card-title">Bologna</h4>
              <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
              <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
              <div class="link d-flex">
                <a href="#" class="card-link text-warning">Read More</a>
                <a href="#" class="card-link text-warning">Book a Trip</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
             <img class="card-img" src="https://cdn2.wanderlust.co.uk/media/3046/articles-short-break-in-bologna-italy.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=131480771290000000" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <h4 class="card-title">Bologna</h4>
              <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
              <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
              <div class="link d-flex">
                <a href="#" class="card-link text-warning">Read More</a>
                <a href="#" class="card-link text-warning">Book a Trip</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-md-4">
          <div class="card">
             <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp0DOPYeFSj9ipRc2Lo-kfbUzraXWNUH9wYA&usqp=CAU" alt="image3">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <h4 class="card-title">Bologna</h4>
              <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
              <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
              <div class="link d-flex">
                <a href="#" class="card-link text-warning">Read More</a>
                <a href="#" class="card-link text-warning">Book a Trip</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Hotels</h5>
                  <p class="card-text">Get the best packages here offered by our company.</p>
                  <a href="#" class="btn btn-primary">Book Hotel <i class="fas fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Flights</h5>
                  <p class="card-text">Good news: Internationals flights are opening, get a flight and travel to your favourite destination</p>
                  <a href="#" class="btn btn-primary" routerLink="/bookticket/flights">Book a flight <i class="fas fa-chevron-circle-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Buses</h5>
                    <p class="card-text">Travel within the country with our luxurious buses.</p>
                    <a href="#" class="btn btn-primary">Book bus <i class="fas fa-chevron-circle-right"></i></a>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  
</div>


