<div class="terms-of-services">
    <div class="container">
        <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Terms Of Services</h2>
          <div class="card">
             <div class="card-header">FLIGHT TICKETS</div>
             <div class="card-body">
                <ul>
                   <li>The airline tickets available through the Website are subject to the terms & conditions of the concerned airline, including but not limited to cancellation and refund policies.</li>
                    <li>TravelWorld merely acts as a facilitator to enable the User to book a flight ticket. The contract of service for utilization of the flight is always between the User and the concerned airline.</li>
                    <li>Airlines retain the right to reschedule flight times, route, change or cancel flights or itineraries independent of and without prior intimation to ibibo. As a facilitator ibibo has no control or authority over the logistics of the airlines and therefore is not liable for any loss, direct or incidental, that a User may incur due to such change or cancellation of a flight.</li>
                    <li>Different tickets on the same airline may carry different restrictions or include different services and price.</li>
                    <li>The baggage allowance on given fare is as per the terms decided by the airline, and ibibo has no role to play in the same. Some of the fares shown in the booking flow are “hand baggage fares” which do not entitle the User for free check in baggage and therefore the User will be required to pay separately for check in baggage. </li>
                    <li>The prices for adding check-in baggage to a booking may vary from airline to airline. The User is advised to contact the airlines for detailed costs.</li>
                </ul>
             </div>
          </div>
          <div class="card">
            <div class="card-header">HOTELS</div>
            <div class="card-body">
               <ul>
                   <li>All the information pertaining to the hotel including the category of the hotel, images, room type, amenities and facilities available at the hotel are as per the information provided by the hotel to TRAVELWORLD. </li>
                   <li>This information is for reference only. Any discrepancy that may exist between the website pictures and actual settings of the hotel shall be raised by the User with the hotel directly, and shall be resolved between the User and hotel. ibibo will have no responsibility in that process of resolution, and shall not take any liability for such discrepancies.</li>
                   <li>Similarly, accommodation may be denied to guests posing as a couple if suitable proof of identification is not presented at the time check-in.</li>
                   <li>The User would be liable to make good any damage(s) caused by any act of him/ her/ or their accompanying guests (willful/negligent) to the property of the hotel in any manner whatsoever. The extent and the amount of the damage so caused would be determined by the concerned hotel. ibibo would not, in any way, intervene in the same.</li>
                   <li>The primary guest must be at least 18 years old to be able to check into the hotel.</li>
               </ul>
            </div>
         </div>
         <div class="card">
             <div class="card-header">BUS</div>
             <div class="card-body">
                <ul>
                    <li>The bus ticket booking voucher which travelworld issues to a User is solely based on the information provided or updated by the bus operator regarding the seat availability.</li>
                    <li>The amenities, services, routes, fares, schedule, bus type, seat availability and any other details pertaining to the bus service are provided by the respective bus operator and ibibo has no control over such information provided by the bus operator.</li>
                    <li>Users are advised to call the bus operator to find out the exact boarding point, or any information which they may need for the purpose of boarding or travel in that trip.</li>
                    <li>Users are required to reach the boarding place atleast 30 minutes before the scheduled departure time.</li>
                </ul>
             </div>
         </div>
    </div>
</div>